<%- include ('partials/header') %>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">

    </head>

    <!-- Navigation Bar -->
    <nav class="navbar flex-md-nowrap p-0 ms-navbar fixed-top ">

        <div class="ms-aside-toggler ms-toggler " data-target="#ms-side-nav" data-toggle="slideLeft">
            <a href="/" style="color: orange;" class="navbar-brand font-weight-bold"> FakeLaza</a>

        </div>


        <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options">


            <li class="ms-nav-item">
                <a href="/accounts" style="color: orange;" class="nav-link ">
                    <%=email%>
                </a>
            </li>
            <li class="ms-nav-item mr-3">
                <a href="/vendor/product/createProduct" style="color: orange;" class="nav-link ">Create Product</a>



                <li class="ms-nav-item mr-3">
                    <a href="/logout" style="color: orange;" class="nav-link">Sign Out</a>
                </li>

        </ul>



    </nav>


    <body class="bg-light">

        <div class="container mt-5">
            <div class="py-5 text-center">
                <h2>Add new product</h2>
            </div>

            <div class="row">

                <div class="col-md-12 order-md-1">
                    <form action="/vendor/product/createProduct" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="productName">Product Name</label>
                                <input type="text" name="productName" class="form-control" id="productName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Please Input Product Name
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="category">Category</label>
                                <input type="text" name="category" class="form-control" id="category" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Please Input Category
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="product_price">Product Price</label>
                                <input type="number" name="product_price" step="any" class="custom-select d-block w-100" id="product_price" required>

                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="stock">Stock Quantity</label>
                                <input class="form-control" type="number" name="stock">
                                <div class="invalid-feedback">
                                    Please provide a valid state.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="file">Upload Image</label>
                                <input type="file" multiple accept="image/*" name="image">

                            </div>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Add Product</button>
                        <hr class="mb-4">




                    </form>
                </div>
            </div>

            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; 2017-2018 Company Name</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Privacy</a></li>
                    <li class="list-inline-item"><a href="#">Terms</a></li>
                    <li class="list-inline-item"><a href="#">Support</a></li>
                </ul>
            </footer>
        </div>

        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>
            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
        </script>
        <script src="/popper.min.js"></script>
        <script src="/bootstrap.min.js"></script>
        <script src="/holder.min.js"></script>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
                'use strict';

                window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');

                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </body>

    </html>