<%- include ('partials/header') %>
  <body class="d-flex h-100 text-center text-bg-white">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      
    </div>
  </header>

  <main class="px-3">
    
    <h1>Fake Laza</h1>
    <p class="lead">For shopping your everday needs, whatever you desire.</p>
    <div>
        <a class="btn btn-lg btn-secondary fw-bold border-black bg-black" href="/accounts/login">Login</a>
        <a class="btn btn-lg btn-secondary fw-bold border-black bg-black" href="/accounts/register">Register</a>
    </div>
  </main>

  <%- include('partials/footer') %>
</div>


    
  </body>
</html>
