<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <title>FakeLaza</title>


    <!-- Custom styles for this template -->
    <link href="/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3adede9475.js" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery UI -->
    <link href="/jquery-ui.min.css" rel="stylesheet">
    <!-- Foodtech styles -->
    <link href="/style.css" rel="stylesheet">

</head>