<!-- Navigation Bar -->
<nav class="navbar flex-md-nowrap p-0 ms-navbar fixed-top ">

    <div class="ms-aside-toggler ms-toggler " data-target="#ms-side-nav" data-toggle="slideLeft">
        <a href="/" class="navbar-brand font-weight-bold"> FakeLaza</a>

    </div>


    <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options">
        <li class="ms-nav-item">
            <a href="/accounts" class="nav-link ">
                <%=email%>
            </a>
        </li>

        <li class="ms-nav-item mr-3">
            <a href="/logout" class="nav-link">Sign Out</a>
        </li>
    </ul>



</nav>